//------------------------------------------------------------
//
//  Base
//
//------------------------------------------------------------

@import '../bower_components/normalize-css/normalize.css'
@import 'base/susy/language/susy'
@import 'base/bourbon/bourbon'
@import 'base/variables'

//------------------------------------------------------------
//
//  Modules
//
//------------------------------------------------------------

@import 'modules/mixins'

//------------------------------------------------------------
//
//  Variables
//
//------------------------------------------------------------

$caption-color: #333


.wf-active body, .wf-inactive body
  opacity: 1
  +transition(opacity 250ms ease-out)

body
  +rootsize
  +font-family('Open Sans')
  opacity: 0
  line-height: 28px
  // background: url(http://griddle.it/1300-12-20) repeat-y center top
  counter-reset: caption-counter

a
  text-decoration: none

img, video, object, embed
  max-width: 100%
  height: auto !important

h1, h2, h3, h4
  font-weight: inherit

.is-smooth
  -webkit-font-smoothing: antialiased

//------------------------------------------------------------
//
//  Structure
//
//------------------------------------------------------------


.cover
  overflow: hidden
  +container()
  padding: spacing(1) gutter()
  .title
    text-align: center
    h1
      font-family: 'Archivo Black', sans-serif
      // text-transform: uppercase
      font-size: modular-scale(0)
      line-height: 64px
  +breakpoint(tablet)
    .content
      +squish(4)

.header
  top: 0
  width: 100%
  padding: spacing(1)/4 0
  #smooth-btn
    border: 0
    background: transparent

.footer
  text-align: center
  padding: spacing(2) 0


ul.caption
  +font-family('Open Sans')
  font-size: modular-scale(-8)
  margin: 0
  position: absolute
  width: 100%
  top: 0
  text-align: center
  list-style: none
  padding: spacing(1) 0
  &:before
    font-family: 'Chivo', sans-serif
    font-weight: 400
    margin: 0
    font-size: modular-scale(8)
    color: $caption-color
    content: counter(caption-counter)
    display: block
  li
    display: inline-block
    font-weight: 700
    a
      color: $caption-color
      +transition(color 250ms ease-out)
      &:hover
        color: #fff
    &::after
      content: " / "
      color: $caption-color
    &:last-child
      &::after
        content: none

.stage
  +align-items(center)
  +display(flex)
  +flex-direction(column)
  +justify-content(center)
  counter-increment: caption-counter
  max-width: 100vw
  min-height: calc(100vh - spacing(4))
  overflow: hidden
  padding-bottom: spacing(1)
  padding-top: (spacing(1) * 3)
  position: relative
.content
  +container()
  padding: 0 gutter()

//================================
// Stage 1
//================================

.stage-1
  font-size: modular-scale(0)
  background: #FDF7BA
  color: #292327
  +font-family('Jacques Francois', false)
  +breakpoint(tablet)
    .title
      +span(4)
    .entry
      +span(8 last)
      -webkit-column-count: 2
      h2
        font-size: modular-scale(0)
        line-height: 36px
      font-size: modular-scale(0)
      line-height: 32px


//================================
// Stage 2
//================================

.stage-2
  background: #EC4A31
  color: white
  font-family: 'Karla', sans-serif
  .entry
    font-size: modular-scale(0)

  p
    margin: 0
    & ~ p
      text-indent: 1em

  h2
    text-align: center
    font-family: 'Chivo', sans-serif
    font-weight: 400

  +breakpoint(tablet)
    h2
      font-size: modular-scale(0)
      letter-spacing: -0.03em
    .entry
      +squish(2)
      font-size: modular-scale(0)
      -webkit-column-count: 2
      p ~ p
        text-indent: 2em

//================================
// Stage 3
//================================

.stage-3
  background: #A17823
  .content
    color: #1B852D
    font-size: modular-scale(0)
    line-height: 32px
    letter-spacing: 0.01em
    // text-transform: uppercase
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    +breakpoint(tablet)
      font-size: modular-scale(0)
      line-height: 56px
      +squish(2)

//================================
// Stage 4
//================================

.stage-4
  background: #0c0c0c
  color: white
  h2
    font-family: 'Archivo Black', sans-serif
    text-align: center

  .content
    // font-family: 'Archivo Narrow', sans-serif
    font-family: 'Merriweather', serif
    font-size: modular-scale(0)

  +breakpoint(tablet)

    h2
      font-family: 'Archivo Black', sans-serif
      font-size: modular-scale(0)
      line-height: 100px
      // border-bottom: 20px solid
      // display: inline-block
    .entry
      +squish(3)

//================================
// Stage 5
//================================

.stage-5
  background: #CBAE39
  .title

    $thePink: #579CE9
    color: $thePink
    border: 10px solid $thePink
    display: inline-block
    padding: spacing(1) gutter()

  h2
    font-family: 'Oswald', sans-serif
    text-transform: uppercase
    font-weight: 700
    font-size: modular-scale(0)
    line-height: 48px
    letter-spacing: 0.01em
    +transform(scale(1,2))
  .entry
    color: #272731

  +breakpoint(tablet)
    h2
      font-size: modular-scale(0)
      line-height: 64px
      letter-spacing: 0.01em
      +transform(scale(1,2))
    .entry
      +squish(3)

//================================
// Stage 6
//================================

.stage-6
  background: #ffee80
  color: #030032
  h2
    font-family: 'Sorts Mill Goudy', serif
    // text-transform: uppercase
    font-weight: 500
    // letter-spacing: 0.09em
    font-size: modular-scale(0)
    line-height: 56px
    text-align: center

  +breakpoint(tablet)
    h2
      font-size: modular-scale(0)
      line-height: 136px
      text-align: left
    .content
      font-family: 'Archivo Narrow', sans-serif
      +squish(4)

//================================
// Stage 7
//================================

.stage-7
  font-family: 'Old Standard TT', serif



.stage-8
  background: #230095
  color: #fff
  h2
    font-size: modular-scale(0)
    line-height: 112px
    text-transform: uppercase

    font-family: 'Lato', sans-serif
    letter-spacing: 0.04em
    .word1
      font-weight: 100
    .word2
      font-weight: 400
    .word3
      font-weight: 900
//================================
// Stage 9
//================================

.stage-9
  background: #ba9359
  h2
    text-align: center
    color: #E44440
    font-size: modular-scale(0)
    font-weight: 900
    font-family: 'Titillium Web', sans-serif
    +breakpoint(tablet)
      font-size: modular-scale(0)
  p
    +breakpoint(tablet)
      +squish(2)
    color: #fff

//================================
// Stage 10
//================================
.stage-10
  font-size: modular-scale(0)
  .entry
    font-family: 'Varela Round'

  +breakpoint(tablet)
    .entry
      color: #004532
      font-size: modular-scale(0)
      line-height: 32px
      +squish(3)
      p:first-of-type:first-letter
        font-size: modular-scale(0)
        color: #CAA33C
        float: left
        font-family: 'Rubik Mono One', sans-serif
        height: 0.7em
        line-height: 0.85em
        margin: 0 0 -0.05em 0
        padding: 0 0.1em 0 0

//================================
// Stage 11
//================================

.stage-11
  background: #eee
  h2
    +font-family('Stint Ultra Expanded')
    text-transform: uppercase
  h3
    text-transform: uppercase
    +font-family('Stint Ultra Condensed')

  +breakpoint(tablet)
    h2
      font-size: modular-scale(0)
      letter-spacing: 0.05em
    h3
      font-size: modular-scale(0)

//================================
// Stage 12
//================================
.stage-12
  background: green
  color: #fff
  h2
    +font-family('Work Sans')
    font-size: modular-scale(0)
    font-weight: 300
    text-transform: uppercase

//------------------------------------------------------------
//
//  Stage 13
//
//------------------------------------------------------------


.stage-13
  font-family: 'Hanalei'
  font-size: 5rem

@media only screen and (min-width: 768px)
  body

// @media only screen and (min-width: 1030px)
// @media only screen and (min-width: 1240px)
